alias ip='curl http://ifconfig.me/ip'
alias localip='ifconfig -l | xargs -n1 ipconfig getifaddr'
alias kbp='kill_port'
alias tzsh='time_zsh'
alias gFfs='git flow feature start'
alias gFff='git flow feature finish'
alias gFfp='git flow feature publish'
alias gFrs='git flow release start'
