export ZSH="${HOME}/.oh-my-zsh"
export HISTTIMEFORMAT="%d/%m/%y %T "
export ANDROID_HOME="${HOME}/Library/Android/sdk"
export PATH="$PATH:$ANDROID_HOME/emulator:$ANDROID_HOME/tools:$ANDROID_HOME/tools/bin:$ANDROID_HOME/platform-tools"
export NVM_LAZY_LOAD=true
export NVM_COMPLETION=true